.toolbar-button {
  padding: 4px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  height: 60px;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  color: #40506b;
  cursor: pointer;
  font-family: $defaultFont;

  &__icon {
    font-size: 1.25rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 0.95rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .caret {
      color: inherit;
      font-size: 0.85rem;
      margin-left: 6px;
    }
  }

  &__icon + &__name {
    margin-top: 3px;
  }

  &:hover:not(.disabled) {
    background: #d0d6e0;
  }

  &.disabled {
    background: transparent;
    color: #8796af;
    cursor: initial;
  }

  &--blue {
    &.active,
    &:hover.active {
      background: #4e71ad;
    }
  }

  &--red {
    &.active,
    &:hover.active {
      background: #d14c57;
    }
  }

  &.active,
  &:hover.active {
    color: #f1f1f1;
  }
}
