.tileset {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid transparent;
    transform-origin: center;
    transform: scale(0.8);

    &:hover {
      border-color: rgb(0, 140, 255);
      z-index: 99;
    }

    &.active,
    &.active:hover {
      border-color: rgb(255, 208, 0);
      transform: scale(1);
    }
  }
}
