root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[*.{php,js,jsx,ts,tsx}]
charset = utf-8

[*.{js,jsx,ts,tsx,json,scss,sass,css}]
indent_style = space
indent_size = 2
