$spacing: 4px;
$width: 64px;
$fullWidth: $width + $spacing * 2;

.toolbar-tileset {
  position: relative;
  min-width: 64px;
  height: 60px;

  &:hover {
    background: #d0d6e0;
  }

  &__button {
    display: flex;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
      margin-left: 12px;
    }
  }

  &__inner {
    display: none;
    position: absolute;
    width: fit-content;
    overflow-y: scroll;
    height: 550px;
    top: 100%;
    left: 0;
    background: #e1e3e6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.open &__inner {
    display: block;
  }
}

.toolbar-tileset-group {
  padding: 12px 16px;
  width: $fullWidth * 8 + 12px;
  border-top: 1px solid #b0bdd3;

  &__title {
    font-weight: 600;
    color: #40506b;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // background: rgba(#40506b, 0.1);

    &.g1x2 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth;
      grid-template-rows: $fullWidth;
    }

    &.g1x3 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth;
    }

    &.g1x4 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth;
    }

    &.g2x1 {
      display: grid;
      grid-template-columns: $fullWidth;
      grid-template-rows: $fullWidth $fullWidth;
    }

    &.g2x2 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth;
    }

    &.g2x3 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth;
    }

    &.g2x4 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth;
    }

    &.g3x1 {
      display: grid;
      grid-template-columns: $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth;
    }

    &.g3x2 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth;
    }

    &.g3x3 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth;
    }

    &.g4x1 {
      display: grid;
      grid-template-columns: $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth $fullWidth;
    }

    &.g4x2 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth $fullWidth;
    }

    &.g4x3 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth $fullWidth;
    }

    &.g4x4 {
      display: grid;
      grid-template-columns: $fullWidth $fullWidth $fullWidth $fullWidth;
      grid-template-rows: $fullWidth $fullWidth $fullWidth $fullWidth;
    }

    li {
      width: $width;
      height: $width;
      border: $spacing solid transparent;

      &:hover {
        border-color: rgb(0, 140, 255);
        z-index: 100;
      }

      img {
        box-sizing: border-box;
        display: block;
        width: inherit;
        height: inherit;
        flex-shrink: 0;
        flex-grow: 0;
        transform-origin: center;
        background: rgba(#40506b, 0.075);
      }

      &.active,
      &.active:hover {
        border-color: rgb(255, 208, 0);
        z-index: 99;
      }
    }
  }
}
