Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Origin, Content-Type, X-Requested-With, X-Auth-Token, Authorization"
Header set Access-Control-Allow-Methods "PUT, PATCH, GET, POST, DELETE, OPTIONS"
