@import "reset-css";
@import "~@sass/abstracts/_fonts.scss";
@import "~@fonts/fontawesome-pro/css/all.css";

html {
  font-family: $defaultFont;
  font-size: 14px;
  background: #f1f1f1;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.kraaken {
  position: relative;
  overflow: hidden;

  canvas {
    cursor: none;
  }

  &-ui {
    font-family: $defaultFont;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}
